.nombrepeli {
    color: #e3b062;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}

.puntaje {
    color: #e3b062;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}


.card {
    border: #3d3d3d solid 3px;
    background: #313131;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.7);
    padding: 14px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 390px;
}

.card:hover {
    border: #545454 solid 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.99);
    background: #333333;
}

.card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portada {
    border-radius: 6px;
    margin-bottom: 6px;
    width: 180px;
    object-fit: cover;


}

.nombre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 50px;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
}
.boton-cargar-mas {
    background: #000000;
    color: #e3b062;
    border: 2px solid #e3b062;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 28px;
    margin: 20px auto 30px auto;
    display: block;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    text-decoration: none;
}
.boton-cargar-mas:hover {
    background: #e3b062;
    color: #222;
}
.card-botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100px;
    justify-content: space-between;
    margin: 0px;
}
.card-botones button{
    background: transparent;
    border: none;
    padding: 0px;

}
.estrella {
    width: 30px;
    height: 30px;
}
.estrella:hover {
    cursor: pointer;
}

.boton {
    background: transparent;
    border-radius: 20px;
    border: none;
    width: 35px;
    height: 35px;
    padding-top: 3px;
}
.boton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.descripcion p {
    color: rgb(150, 150, 150)
}




button img {
    width: 15px;
    height: 15px;
}






.Xnombrepeli {
    color: #e3b062;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}

.Xpuntaje {
    color: #e3b062;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}

.Xcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #3d3d3d solid 3px;
    background: #313131;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.7);
    padding: 10px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 394px;
}

.Xcard:hover {
    border: #545454 solid 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.99);
    background: #333333;
}

.Xcard-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Xportada {
    border-radius: 6px;
    margin-bottom: 5px;
    width: 150px;
    object-fit: cover;
    display: none;
}

.Xnombre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 30px;
}

.Xboton {
    background: transparent;
    border-radius: 4px;
    border: none
    
}
.Xboton:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: rgb(68, 68, 68) solid 1px;
}

.Xdescripcion p {
    color: rgb(150, 150, 150);
    width: 180px;
    font-size: 15px;
}
button img {
    width: 20px;
    height: 20px;
}