.nombrepeli {
    color: #e3b062;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}
.puntaje{
    color: #e3b062;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}


.card {
    border: #3d3d3d solid 3px;
    background: #313131;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.7);
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 520px;
}
.card:hover {
    transform: scale(1.01);
    transition:  0.3s ease;
    box-shadow: 0 4px 24px rgba(0,0,0,0.99);
}

.card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portada {
    border-radius: 6px;
    margin-bottom: 16px;
    width: 250px;
    object-fit: cover;
    
    
}
.nombre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 75px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
}