section {
    background: #181818;
    border-radius: 18px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.8);
    padding: 40px 32px;
    margin: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

body{
    background: #181818;
    font-family: 'Roboto', sans-serif;
    color: #e3b062;
    
}

.nombrepeli {
    color: #e3b062;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}
.puntaje{
    color: #e3b062;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
    text-shadow: 0 2px 8px #000;
}


.card {
    
    background: #313131;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.7);
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 520px;
}

.card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


.portada {
    background: #7a4a21; /* Marco marrón */
    border: 8px solid #a97c50;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 12px #3e2a13;
    width: 240px;
    height: 360px;
    object-fit: cover;
    
    
}


