button {
    border-radius: 5px;
    margin-left: 10px;
}

.input {
    border: 2px solid #282828;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 30vw;
    background-color: rgb(61, 61, 61);
    color: #dadada
}

.input:focus {
    outline: none;
    border: 2px solid #9a9a9a;
    background-color: #222
}

.ver {
    color: white;
    background-color: #282828;
    padding: 10px;
}

.form-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    margin-left: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 10vh;
}

.titulo {
    font-family: 'Impact', 'Arial Black', cursive, sans-serif;
    font-size: 2.5rem;
    color: gold;
    letter-spacing: 2px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.99);
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    margin-left: auto;
    margin-bottom: 25px;
}

.botones button:hover {
    cursor: pointer;
}

.peliculaP {
    background-color: rgb(61, 61, 61);
    color: #e3b062;
    border: #e3b062 solid 2px;
    width: 80px;
}

.serieP {
    width: 80px;
    background-color: rgb(61, 61, 61);
    color: #e3b062;
    border: 2px solid #282828;
}

.peliculaS {
    width: 80px;
    background-color: rgb(61, 61, 61);
    color: #e3b062;
    border: 2px solid #282828;
}

.serieS {
    width: 80px;
    border: #e3b062 solid 2px;
    background-color: rgb(61, 61, 61);

    color: #e3b062;

}