
nav{
  position: relative;
  justify-content: center;      
  align-items: center;          
  color: #E3E6EB;               
  border-bottom: 1px solid rgba(101, 87, 87, 0.08);
  padding: 8px;       
  background: #313131;   
}

.main-nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15vw;
  justify-content: center;
}


.nav-link{
  text-decoration: none;
  color:#e3b062;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 6px 0;               
  text-shadow: 0 2px 8px #000;
  
}

.nav-link:hover{
  color: #ffff;
}

nav::after{
  content:"";
  position: absolute; left: 0; right: 0; bottom: 0;
  height: 3px;
  background: linear-gradient(90deg,#00E054,#FF8000,#40BCF4);
}
